html{
    background: linear-gradient(to bottom right, #8338EC, #FB5607, #FFBE0B);
    background-attachment: fixed;
    height: 100%;
}
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
       "head"
       "body"
}

.header{
    grid-area: head;
    padding: 20px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
       "bt icon info"
}
.button{
    margin: 20px;
    grid-area: bt; 
}
button{
    padding: 15px;
    font-size:xx-large;
    color: white;
    border-radius: 60px 60px;
    background-color: #6C32BF;
    border: none; 
    cursor: pointer;
}

.icon{
    grid-area: icon;
}
.info{
    grid-area: info;
    margin: 20px;
    text-align: right;
}
.body{
    padding: 30px;
    grid-area: body;
    margin-top: 30px;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto 10% ;
    grid-template-areas:
       "ex ex"
       "block block"
       "var var"
       "retry check"
}
.block{
    grid-area: block;
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto ;
    grid-template-areas:
       "func gen"
}
#generate{
    margin-top: 30px;
    margin-right: 500px;
    text-align: left;
    grid-area: gen;
}
.exercise{
    grid-area: ex;
    background-color: white;
    border-radius: 35px 35px;
    margin: 40px;
    padding: 10px;
    border: 15px solid #6C32BF;
    font-size:x-large;
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.function{
    grid-area: func;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 60px 60px;
    border:none;
    font-size: x-large;
    padding: 10px;
    text-align: center;
    width: 500px;
    margin-left: 40%;
}
.variants{    
    grid-area: var;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
        "first second"

}
.first-col{
    grid-area: first;
}
.second-col{
    grid-area: second;
}
.variant{   
    cursor: pointer;
    width: 300px;
    padding: 5px;
    margin: 30px;
    font-size: x-large;
    text-align: center;
}
.non-checked{
    height: 60px;
    border-radius: 30px 30px;
    background-color: white;
    border: 5px solid white;

}
.non-checked:hover{
    border: 5px solid #6C32BF;
}
.checked{
    height: 60px;
    border-radius: 30px 30px;
    background-color: #6C32BF;
    color: white;
    border: 5px solid #6C32BF;
}


.check{
    margin-top: 10px;
    grid-area: check;
    margin-left: 20%;
}
.retry{
    margin-top: 10px;
    width: 500px;
    grid-area: retry;
    margin-left: 50%;
}

