html{
    background: linear-gradient(to bottom right, #8338EC, #FB5607, #FFBE0B);
    background-attachment: fixed;
    height: 100%;
}
@media (min-width:1250px){
    .exercise{
        font-size: 26px;
    }
    .buttons>*{
        margin: 30px;
    }
    button{
        font-size:xx-large;
    }
    .block{
        margin: 0 auto;
        margin-bottom: 30px;
        grid-area: block;
        display:grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: auto ;
        grid-template-areas:
           "func gen"
    }
    .function{
        grid-area: func;
        background-color: white;
        color: rgb(0, 0, 0);
        border-radius: 60px 60px;
        border:none;
        font-size: x-large;
        padding: 10px;
        text-align: center;
        width: 500px;
        margin-left: auto;
        margin-right: 30px;
    }
    #generate{
        margin-top: 30px;
        margin-right: 500px;
        text-align: left;
        grid-area: gen;
        cursor: pointer;
    }
    .variants{    
        grid-area: var;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "first second"
            "center center"
    
    }
    .variant{
        width: 300px;
    }
    #res{
        width: 60%;
        height: 70%;
        border: 15px solid #6C32BF;
        background: linear-gradient(to bottom, #6C32BF 18%, white 18%);
        border-radius: 40px 40px;
    }
    table{
        margin: 0 auto;
    }
    #res h1{
        text-align: center;
        font-size: 50px;
        color: white;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .result>p{
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 45px;
        background-color: #6C32BF;
        border-radius: 20px 20px;
        width: 120px;
        text-align: center;
        margin: 0 auto;
    }
    .answer{
        font-size: 30px;
        padding: 20px;
    }
    th, td{
        padding: 20px;
        padding-left: 40px;
    }
}
@media (950px <= width <= 1250px){
    .exercise{
        font-size: 26px;
    }
    .buttons>*{
        margin: 30px;
    }
    button{
        font-size:xx-large;
    }
    .block{
        margin: 0 auto;
        margin-bottom: 30px;
        grid-area: block;
        display:grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: auto ;
        grid-template-areas:
           "func gen"
    }
    .function{
        width: 210px;
        grid-area: func;
        background-color: white;
        color: rgb(0, 0, 0);
        border-radius: 60px 60px;
        border:none;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: 30px;
    }
    #generate{
        margin-top: 30px;
        text-align: left;
        grid-area: gen;
        cursor: pointer;
    }
    .variants{    
        grid-area: var;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        grid-template-areas:
            "first second"
            "center center"
    
    }
    .variant{
        width: 300px;
    }
    #res{
        width: 80%;
        height: 70%;
        border: 15px solid #6C32BF;
        background: linear-gradient(to bottom, #6C32BF 18%, white 18%);
        border-radius: 40px 40px;
    }
    table{
        margin: 0 auto;
    }
    #res h1{
        text-align: center;
        font-size: 50px;
        color: white;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .result>p{
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 45px;
        background-color: #6C32BF;
        border-radius: 20px 20px;
        width: 120px;
        text-align: center;
        margin: 0 auto;
    }
    .answer{
        font-size: 30px;
        padding: 20px;
    }
    th, td{
        padding: 20px;
        padding-left: 40px;
    }
}

@media (width < 950px){
    .exercise{
        font-size: 20px;
    }
    .buttons>*{
        margin: 10px;
    }
    button{
        font-size:large;
    }
    .block{
        margin: 0 auto;
        margin-bottom: 30px;
        grid-area: block;
        display:grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: auto ;
        grid-template-areas:
           "func gen"
    }
    .function{
        width: 210px;
        grid-area: func;
        background-color: white;
        color: rgb(0, 0, 0);
        border-radius: 60px 60px;
        border:none;
        font-size: 20px;
        padding: 10px;
        text-align: center;
        margin-left: auto;
        margin-right: 30px;
    }
    #generate{
        margin-top: 30px;
        text-align: left;
        grid-area: gen;
        cursor: pointer;
    }
    .variants{    
        grid-area: var;
        margin: 0 auto;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "first"
            "second"
            "center"
    
    }
    .variant{
        width: 250px;
    }
    .second-col{
        margin-top: -30px;
    }
    #res{
        width: 80%;
        height: 50%;
        border: 15px solid #6C32BF;
        border-radius: 40px 40px;
    }
    table{
        margin: 0 auto;
    }
    #res h1{
        text-align: center;
        font-size: 40px;
        color: #6C32BF;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .result>p{
        color: white;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 30px;
        background-color: #6C32BF;
        border-radius: 20px 20px;
        width: 120px;
        text-align: center;
        margin: 0 auto;
    }
    .answer{
        font-size: 20px;
    }
    th, td{
        padding: 10px;
    }
    
}
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
       "head"
       "body"
}

.header{
    grid-area: head;
    padding: 20px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
       "bt icon info"
}
.button{
    margin: 20px;
    grid-area: bt; 
}
button{
    padding: 15px;
    color: white;
    border-radius: 60px 60px;
    background-color: #6C32BF;
    border: none; 
    cursor: pointer;
}

.icon{
    grid-area: icon;
}
.info{
    grid-area: info;
    margin: 20px;
    text-align: right;
}
.body{
    padding: 30px;
    grid-area: body;
    margin-top: 30px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto 10% ;
    grid-template-areas:
       "ex"
       "block"
       "var"
       "check"
}

.exercise{
    grid-area: ex;
    background-color: white;
    border-radius: 35px 35px;
    margin: 40px;
    padding: 10px;
    border: 15px solid #6C32BF;
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}


.first-col{
    grid-area: first;
}
.second-col{
    grid-area: second;
}
.variant{   
    cursor: pointer;
    padding: 5px;
    margin: 30px;
    font-size: x-large;
    text-align: center;
}
.variants>.variant{
    grid-area: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.variant{
    height: 60px;
    border-radius: 30px 30px;
    background-color: white;
    border: 5px solid white;

}
.variant:hover{
    border: 5px solid #6C32BF;
}
.checked{
    height: 60px;
    border-radius: 30px 30px;
    background-color: #6C32BF;
    color: white;
    border: 5px solid #6C32BF;
}

.check{
    margin-top: 50px;
    grid-area: check;
    margin: 0 auto;
    margin-bottom: 40px;
}

#res{
    transition: display 0.2s allow-discrete, overlay 0.2s allow-discrete;
  
    animation: close 0.3s forwards;
    &[open] {
      animation: open 0.3s forwards;
    }
}
  
  @keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes close {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
body:has(dialog[open]) {
    overflow: hidden;
}
#res::backdrop {
    background-color: rgb(0 0 0 / 60%);
}

.buttons{
    text-align: center;
}
.buttons>*{
    padding: 15px;
}
.answer{
    margin-top: 10px;
    margin-bottom: 10px;
}

.incorrect{
    color: rgb(163, 16, 21);
}
.correct{
    color: rgb(11, 122, 11);
}