html{
    background: linear-gradient(to bottom right, #8338EC, #FB5607, #FFBE0B);
    background-attachment: fixed;
    height: 100%;
}
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
       "head"
       "body"
}

.header{
    grid-area: head;
    padding: 20px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
       "bt icon info"
}
.button{
    margin: 20px;
    grid-area: bt; 
}
button{
    padding: 15px;
    font-size:xx-large;
    color: white;
    border-radius: 60px 60px;
    background-color: #6C32BF;
    border: none; 
    cursor: pointer;
}
#generate{
    margin-top: 30px;
    grid-area: gen;
}
#gen{
    cursor: pointer;
}
.icon{
    grid-area: icon;
}
.info{
    text-align: right;
    margin: 20px;
    grid-area: info;
}
.body{
    padding: 30px;
    grid-area: body;
    margin-top: 30px;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 10% ;
    grid-template-areas:
       "ex"
       "func"
       "ans"
       "class"
       "check"
}
.first-col{
    grid-area: first;
}
.second-col{
    grid-area: second;
}
.center{
    grid-area: cent;
    text-align: center;
    margin: 0 auto;
    margin-top: -40px;
    margin-bottom: 20px;
}
.answer{ 
    grid-area: ans;
    margin: 0 auto;
    border: 5px solid #6C32BF;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 30px 30px;
    font-size: x-large;
    padding: 10px;
    height: 50px;
    width: 30%;
    margin-bottom: 40px;
}
.answer>*{
    margin: 40px;
    display: inline;
    text-align: center;
}
.radio-bt:checked{
    accent-color: #6C32BF;
}
.radio-bt{
    width: 20px;
    height: 20px;
}
.class{
    display: none;
    grid-area: class;
    margin: 0 auto;
    border: 5px solid #6C32BF;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 30px 30px;
    font-size: x-large;
    padding: 10px;
    width: 50%;
}
.class>*{
    padding: 7px;
}
.exercise{
    grid-area: ex;
    background-color: white;
    border-radius: 35px 35px;
    margin: 40px;
    padding: 10px;
    border: 15px solid #6C32BF;
    font-size:x-large;
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.functions{
    grid-area: func; 
    margin: 0 auto;
    display:grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    grid-template-areas:
       "f gen"
}
.func{
    grid-area: f;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas:
       "first second"
       "cent cent"
}
.first-col > p, .second-col>p, .center>p{
    margin: 40px;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 60px 60px;
    border:none;
    font-size: x-large;
    padding: 10px;
    text-align: center;
    width: 300px;
}
.full-or-not>*{
    display: inline;
    margin: 10px;
}

.checkbox-input {
    appearance: none;
    width: 21px;
    height: 21px;
    border: 1px solid #6C32BF;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
}

.checkbox-input:checked{
    background-color: #6C32BF;
    border-color: #6C32BF;
    background-image: url("../image/check.png");
}
.check{
    margin-top: 30px;
    grid-area: check;
    margin: 0 auto;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(108, 50, 191);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(108, 50, 191);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}

dialog{
    width: 50%;
    height: 55%;
    border: 15px solid #6C32BF;
    background: linear-gradient(to bottom, #6C32BF 18%, white 18%);
    border-radius: 40px 40px;
}
#res, #ans{
    padding-top: 20px;
    height: 75%;
}

.result{
    text-align: center;
}
.result>p{
    color: white;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 55px;
    background-color: #6C32BF;
    border-radius: 30px 30px;
}
.result>*{ 
    margin-top: 50px;
    display: inline;
    text-align: center;
    margin-left: 50px;
}
.result>button{
    width: 300px;
    font-size: 30px;
    border: 15px solid #6C32BF;
    border-radius: 30px 30px;
    background-color: white;
    color: black;
}
body:has(dialog[open]) {
    overflow: hidden;
}
#start::backdrop, #res::backdrop {
    background-color: rgb(0 0 0 / 60%);
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
}
.head>*{
    display: inline;
}
.head>h1{
    margin-left: 13%;
}
.head{
    margin-top: -20px;
    margin-bottom: 40px;
}
#exit{
    cursor: pointer;
}
dialog > p{
    text-align: center;
    font-size: 40px;
}
.set-function>*, .set-argument>*{
    display: inline-block;
}
.setting{
    margin-top: 20px;
    margin-bottom: 30px;
}
.slide {
    -webkit-appearance: none;
    margin-top: 45px;
    width: 300px;
    height: 20px;
    position: absolute;
    background: #ccc;
    border-radius: 10px 10px;
    outline: none;
}

.slide input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 25%;
    top: 15px;
    width: 50%;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;

}

.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 10px 10px;
    background: #6C32BF;
    cursor: pointer;

    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.slide::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 30px 30px;
    background: #6C32BF;
    cursor: pointer;

    pointer-events: all;
    position: relative;
}
.name{
    width: 450px;
    font-size: 30px;
}
.buttons{
    text-align: center;
}
.buttons>*{
    margin: 30px;
    padding: 15px;
}
.table{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    padding: 20px;
}
th, td{
    padding: 20px;
    padding-left: 40px;
}
#ans::-webkit-scrollbar {
    width: 15px;
}
  
#ans::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #8338EC;
}
#ans::-webkit-scrollbar-button:increment:increment {
    height: 10%;
    display: block;
    background: transparent;
}
