html{
    background: linear-gradient(to bottom right, #8338EC, #FB5607, #FFBE0B);
    background-attachment: fixed;
    height: 100%;
}
@media (min-width:1000px){
    .exercise{
        font-size: x-large;
    }
    .output{
        margin: 20px;
        text-align: center;
        padding: 25px;
        display:grid;
        grid-template-columns: 20% 40% 40%;
        grid-template-rows: 100%;
        grid-template-areas:
           "f ans right-ans"
    }
    .func{    
        font-size: 30px;
        grid-area: f; 
    }
    .func>p{
        margin-bottom: 10px;
        height: 60px;
    }
    .answer{ 
        font-size: 30px;
        grid-area: ans;
    }
    .answer>p{
        margin-bottom: 10px;
        height: 60px;
    }
    .right-ans{
        font-size: 30px;
        grid-area:right-ans;
    }
    .right-ans>p{
        margin-bottom: 10px;
        height: 60px;
    }
    .nav{
        font-size: 35px;
        font-weight: bold;
    }
    .head>h1{
        text-align: center;
        font-size: 50px;
        color: white;
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
        margin-left: 25%;
    }
    .buttons button{
        font-size: xx-large;
    }
    #start,#res,#ans{
        background: linear-gradient(to bottom, #6C32BF 18%, white 18%);
    }
    #start{
        width: 55%;
        height: 60%;
    }
    #res{
        padding-top: 20px;
        height: 75%;
        width: 50%;
    }
    #ans{
        padding-top: 20px;
        height: 80%;
        width: 60%;
    }
    #start h1,#res h1{
        text-align: center;
        font-size: 50px;
        color: white;
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
    .result>p{
        color: white;
        padding: 15px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 55px;
        background-color: #6C32BF;
        border-radius: 30px 30px;
    }
    .result>*{ 
        margin-top: 50px;
        display: inline;
        text-align: center;
        margin-left: 50px;
    }
    .result>button{
        width: 300px;
        font-size: 30px;
        border: 15px solid #6C32BF;
        border-radius: 30px 30px;
        background-color: white;
        color: black;
    }
    dialog > p{
        text-align: center;
        font-size: 35px;
    }
    .rounds> button{
        padding: 10px;
        margin: 20px;
        border-radius: 20px 20px;
        font-size: 50px;
        width: 85px;
    }
    .exercise{
        width: 50%;
    }
    .variants{
        margin: 0 auto;
        grid-area: var;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
           "first second"
    }
    .variant{
        cursor: pointer;
        border-radius: 40px 40px;
        width: 400px;
        height: 60px;
        border: 10px solid white;
        background-color: white;
        margin: 30px;
        padding: 10px;
        color: black;
        font-size: 25px;
        text-align: center;
    }
}

@media (width < 1000px){
    .exercise{
        font-size: 20px;
    }
    .output{
        text-align: center;
        display:grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto;
        grid-template-areas:
           "f ans"
           "right-ans right-ans"
    }
    .func{    
        font-size: 24px;
        grid-area: f; 
    }
    .func>p{
        margin-bottom: 10px;
        height: 60px;
    }
    .answer{ 
        font-size: 20px;
        grid-area: ans;
    }
    .answer>p{
        margin-bottom: 10px;
        height: 60px;
    }
    .right-ans{
        font-size: 20px;
        grid-area:right-ans;
    }
    .right-ans>p{
        margin-bottom: 10px;
        height: 60px;
    }
    .nav{
        font-size: 30px;
        font-weight: bold;
    }
    .head>h1{
        text-align: center;
        font-size: 40px;
        color: #6C32BF;
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
        margin-left: 25%;
    }
    #exit{
        margin-top: 20px;
    }
    #start{
        width: 80%;
        height: 65%;
    }
    #res,#ans{
        width: 80%;
        height: 80%;
    }
    #start h1,#res h1{
        text-align: center;
        font-size: 40px;
        color: #6C32BF;
        width: 100%;
        margin: 0;
        margin-bottom: 40px;
    }
    .result>p{
        color: white;
        padding: 15px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 30px;
        background-color: #6C32BF;
        border-radius: 30px 30px;
    }
    .result>*{ 
        margin-top: 50px;
        display: inline;
        text-align: center;
    }
    .result>button{
        width: 70%;
        font-size: 20px;
        border: 15px solid #6C32BF;
        border-radius: 30px 30px;
        background-color: white;
        color: black;
    }
    dialog > p{
        text-align: center;
        font-size: 30px;
    }
    .rounds> button{
        padding: 10px;
        margin: 20px;
        border-radius: 20px 20px;
        font-size: 30px;
        width: 65px;
    }
    .buttons button{
        font-size: large;
    }
    .variants{
        grid-area: var;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas:
           "first"
           "second"
    }
    .variant{
        cursor: pointer;
        border-radius: 40px 40px;
        width: 60%;
        height: 70px;
        border: 10px solid white;
        background-color: white;
        padding: 10px;
        color: black;
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }
    .exercise{
        width: 80%;
    }
}
#start::-webkit-scrollbar {
    width: 15px;
}
  
#start::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: white;
}
#start::-webkit-scrollbar-button:increment:increment {
    height: 10%;
    display: block;
    background: transparent;
}
#res::-webkit-scrollbar {
    width: 15px;
}
  
#res::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: white;
}
#res::-webkit-scrollbar-button:increment:increment {
    height: 10%;
    display: block;
    background: transparent;
}

#ans::-webkit-scrollbar {
    width: 15px;
}
#ans::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: white;
}
#ans::-webkit-scrollbar-button:increment:increment {
    height: 10%;
    display: block;
    background: transparent;
}

.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 130px auto;
    grid-template-areas:
       "head"
       "body"
}
.header{
    grid-area: head;
    padding: 20px;
    margin-bottom: 30px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
       "bt icon info"
}
.body{
    grid-area: body;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
       "ex"
       "func"
       "var"
       "check"
}
.check{
    margin: 10px;
    grid-area: check;
    text-align: center;
}
.check>*{
    padding: 15px;
}
.exercise{
    grid-area: ex;
    background-color: white;
    border-radius: 35px 35px;
    margin: 40px;
    padding: 5px;
    border: 15px solid #6C32BF;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.button{
    margin: 20px;
    grid-area: bt; 
}
button{
    padding: 13px;
    font-size: xx-large;
    color: white;
    border-radius: 60px 60px;
    background-color: #6C32BF;
    border: none; 
    cursor: pointer;
}
.icon{
    grid-area: icon;
}
.info{
    grid-area: info;
    text-align: right;
    margin: 20px;
}
.function{
    grid-area: func;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 60px 60px;
    border:none;
    font-size: x-large;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}


.variant.checked{
    border: 10px solid #6C32BF;
    background-color: #6C32BF;
    color: white;
}
.variant:hover{
    border: 10px solid #6C32BF;
}
.variant>p {
    margin-top: 15px;
}
.first-col{
    grid-area:first;
    text-align: center;
}
.second-col{
    grid-area:second;
    text-align: center;
}
#start,#res,#ans{
    border: 15px solid #6C32BF;
    border-radius: 40px 40px;
}
#start,#res,#ans{
    transition: display 0.2s allow-discrete, overlay 0.2s allow-discrete;
  
    animation: close 0.3s forwards;
    &[open] {
      animation: open 0.3s forwards;
    }
}
  
  @keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes close {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.result{
    text-align: center;
}

body:has(dialog[open]) {
    overflow: hidden;
}
#start::backdrop, #res::backdrop {
    background-color: rgb(0 0 0 / 60%);
}


.rounds{
    text-align: center;
}

.head>*{
    display: inline;
}

.head{
    margin-top: -20px;
}
#exit{
    cursor: pointer;
}
#bt1{
    border: 10px solid rgb(253, 144, 009);
    background-color: rgb(253, 144, 009);
    color: white; 
}
#bt1:hover, #bt1.checked{
    border: 10px solid rgb(253, 144, 009);
    background-color: white;
    color: black;
}
#bt2{
    border: 10px solid rgb(252, 101, 008);
    background-color: rgb(252, 101, 008);
    color: white;
}
#bt2:hover, #bt2.checked{
    border: 10px solid rgb(252, 101, 008);
    background-color: white;
    color: black;
}
#bt3{
    border: 10px solid rgb(224, 079, 057) ;
    background-color: rgb(224, 079, 057) ;
    color: white;
}
#bt3:hover, #bt3.checked{
    border: 10px solid rgb(224, 079, 057) ;
    background-color: white;
    color: black;
}
#bt4{
    border: 10px solid rgb(200, 073, 103);
    background-color: rgb(200, 073, 103);
    color: white;
}
#bt4:hover, #bt4.checked{
    border: 10px solid rgb(200, 073, 103);
    background-color: white;
    color: black;
}
#bt5{
    border: 10px solid rgb(173, 066, 156);
    background-color: rgb(173, 066, 156);
    color: white;
}
#bt5:hover, #bt5.checked{
    border: 10px solid rgb(173, 066, 156);
    background-color: white;
    color: black;
}

.buttons{
    text-align: center;
}
.buttons>*{
    margin: 30px;
    padding: 15px;
}


.num>*{
    display: inline;
}
.num>p{
    margin: 0;
}
#n{
    width: 50px;
}
.incorrect{
    color: rgb(163, 16, 21);
}
.correct{
    color: rgb(11, 122, 11);
}