html{
    background: linear-gradient(to bottom right, #8338EC, #FB5607, #FFBE0B);
    background-attachment: fixed;
    height: 100%;
}
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
       "head"
       "body"
}
.header{
    grid-area: head;
    padding: 20px;
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
       "bt icon info"
}
.body{
    grid-area: body;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 23% 8% 60% 10%;
    grid-template-areas:
       "ex"
       "func"
       "var"
       "check"
}
.check{
    grid-area: check;
}
.exercise{
    grid-area: ex;
    background-color: white;
    border-radius: 35px 35px;
    margin: 40px;
    padding: 10px;
    border: 15px solid #6C32BF;
    font-size:x-large;
    width: 35%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.button{
    margin: 20px;
    grid-area: bt; 
}
button{
    padding: 13px;
    font-size:xx-large;
    color: white;
    border-radius: 60px 60px;
    background-color: #6C32BF;
    border: none; 
    cursor: pointer;
}
.icon{
    grid-area: icon;
}
.info{
    grid-area: info;
    text-align: right;
    margin: 20px;
}
.function{
    grid-area: func;
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 60px 60px;
    border:none;
    font-size: x-large;
    padding: 10px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.variants{
    margin: 0 auto;
    grid-area: var;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
       "first second"
}
.variant{
    cursor: pointer;
    border-radius: 40px 40px;
    width: 400px;
    height: 70px;
    background-color: #6C32BF;
    margin: 50px;
    padding: 10px;
    color: white;
    font-size: 25px;
    text-align: center;
}
.variant>p {
    margin-top: 15px;
}
.first-col{
    grid-area:first;
}
.second-col{
    grid-area:second;
}
dialog{
    width: 50%;
    height: 50%;
    border: 15px solid #6C32BF;
    background: linear-gradient(to bottom, #6C32BF 18%, white 18%);
    border-radius: 40px 40px;
}
#res, #ans{
    padding-top: 20px;
    height: 75%;
}
.result{
    text-align: center;
}
.result>p{
    color: white;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 55px;
    background-color: #6C32BF;
    border-radius: 30px 30px;
}
.result>*{ 
    margin-top: 50px;
    display: inline;
    text-align: center;
    margin-left: 50px;
}
.result>button{
    width: 300px;
    font-size: 30px;
    border: 15px solid #6C32BF;
    border-radius: 30px 30px;
    background-color: white;
    color: black;
}
body:has(dialog[open]) {
    overflow: hidden;
}
#start::backdrop, #res::backdrop {
    background-color: rgb(0 0 0 / 60%);
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
}
dialog > p{
    text-align: center;
    font-size: 40px;
}
.rounds{
    text-align: center;
}
.rounds> button{
    padding: 10px;
    margin: 20px;
    border-radius: 20px 20px;
    font-size: 50px;
    width: 85px;
}
.head>*{
    display: inline;
}
.head>h1{
    margin-left: 25%;
}
.head{
    margin-top: -20px;
}
#exit{
    cursor: pointer;
}
#bt1{
    border: 10px solid rgb(253, 144, 009);
    background-color: rgb(253, 144, 009);
    color: white; 
}
#bt1:hover, #bt1.clicked{
    border: 10px solid rgb(253, 144, 009);
    background-color: white;
    color: black;
}
#bt2{
    border: 10px solid rgb(252, 101, 008);
    background-color: rgb(252, 101, 008);
    color: white;
}
#bt2:hover, #bt2.clicked{
    border: 10px solid rgb(252, 101, 008);
    background-color: white;
    color: black;
}
#bt3{
    border: 10px solid rgb(224, 079, 057) ;
    background-color: rgb(224, 079, 057) ;
    color: white;
}
#bt3:hover, #bt3.clicked{
    border: 10px solid rgb(224, 079, 057) ;
    background-color: white;
    color: black;
}
#bt4{
    border: 10px solid rgb(200, 073, 103);
    background-color: rgb(200, 073, 103);
    color: white;
}
#bt4:hover, #bt4.clicked{
    border: 10px solid rgb(200, 073, 103);
    background-color: white;
    color: black;
}
#bt5{
    border: 10px solid rgb(173, 066, 156);
    background-color: rgb(173, 066, 156);
    color: white;
}
#bt5:hover, #bt5.clicked{
    border: 10px solid rgb(173, 066, 156);
    background-color: white;
    color: black;
}

.buttons{
    text-align: center;
}
.buttons>*{
    margin: 30px;
    padding: 15px;
}
.output{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    display:grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 100%;
    grid-template-areas:
       "f ans right-ans"
}
.func{
    grid-area: f;
}
.answer{
    grid-area: ans;
}
.right-ans{
    grid-area:right-ans;
}
.nav{
    font-size: 35px;
    font-weight: bold;
}
.num>*{
    display: inline;
}
.num>p{
    margin: 0;
}
#n{
    width: 50px;
}
