html{
    background: linear-gradient(to bottom right, #8338EC, #FB5607, #FFBE0B);
    background-attachment: fixed;
    height: 100%;
}
/*
.container{  
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 70%;
    grid-template-areas:
       "head"
       "body"
}
.header{
    grid-area:head;
}*/
.container{
    margin-top: 100px;
}
.logo{
    text-align: center;
}
.body {    
    grid-area:body;
    display:grid;
    grid-template-columns: 40% 55%;
    grid-template-rows: 700px;
    grid-template-areas:
       "info games"
}
.logo{
    grid-area:info;
    background-color: white;
    border-radius: 60px 60px;
    margin: 40px;
    padding: 30px;
    border: 20px solid #6C32BF;
}

.games {
    margin-left: 30px;
    padding-bottom: 20px;
    background-color: #6C32BF;
    grid-area:games;
    border-radius: 45px 45px;
    margin: 40px;
    padding-right: 30px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas:
       "first second third"

}
.trash{
    grid-area: trash;
    height: 10px;
}

.games::-webkit-scrollbar {
    width: 15px;
}
  
.games::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #8338EC;
}
.games::-webkit-scrollbar-button:increment:increment {
    height: 10%;
    display: block;
    background: transparent;
}
  
.games > *{
    margin:0 auto;
    padding-bottom: 20px;
}
.first-col{
    grid-area:first;
}
.second-col{
    grid-area:second;
}
.third-col{
    grid-area:third;
}
.game{
    margin-bottom: 20px;
    border-radius: 40px 40px;
    background-color: white;
    height: 180px;
    width: 220px;
    margin: 10%;
    margin-bottom: 20px;
}
.picture{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 35px;
}

.background-image {
    position: fixed;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    width: 250%; /* Задаем ширину больше 100% для эффекта */
    height: 250%; /* Задаем высоту больше 100% для эффекта */
    transform: translate(-50%, -50%); /* Центрируем изображение */
    background-image: url(../image/IMG_1966.PNG); /* Замените на URL вашей картинки */
    background-size: cover; /* Заполнение фона */
    background-position: center;
    animation: rotate 200s linear infinite; /* Анимация вращения */
    z-index: -1; /* Помещаем фон под контент */
    opacity: 0.1;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg); /* Центрируем и вращаем */
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg); /* Центрируем и вращаем */
    }
}