html{
    background: linear-gradient(to bottom right, #8338EC, #FB5607, #FFBE0B);
    background-attachment: fixed;
    height: 100%;
} 

@media (min-width:1450px){
    h3{
        font-size: 25px;
        color: rgb(78, 26, 134);
    }
    #welcome p{
        font-size: 20px;
    }
    .container{
        margin-top: 100px;
    }  
    #logo{
        width:400px;
        height:200px;
    }
    .body {  
        grid-area:body;
        display:grid;
        grid-template-columns: 40% 55%;
        grid-template-rows: 700px;
        grid-template-areas:
        "info games"
    }
    .games {
        margin-left: 30px;
        padding-bottom: 20px;
        background-color: #6C32BF;
        grid-area:games;
        border-radius: 45px 45px;
        margin: 40px;
        padding-right: 30px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 33% 33% 33% 33%;
        grid-template-areas:
           "1 2 3"
           "4 5 6"
           "7 8 9"
           "10 11 12"
    
    }
}
@media (1000px <= width <= 1450px){
    .container{
        margin-top: 100px;
    }  
    #logo{
        width: 90%;
        aspect-ratio: 2/1;
    }
    h3{
        font-size: 25px;
        color: rgb(78, 26, 134);
    }
    #welcome p{
        font-size: 20px;
    }
    .body {  
        grid-area:body;
        display:grid;
        grid-template-columns: 40% 55%;
        grid-template-rows: 800px;
        grid-template-areas:
        "info games"
    }
    .games {
        margin-left: 30px;
        padding-bottom: 20px;
        background-color: #6C32BF;
        grid-area:games;
        border-radius: 45px 45px;
        margin: 40px;
        padding-right: 30px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33% 33% 33% 33%;
        grid-template-areas:
           "1 2"
           "3 4"
           "5 6"
           "7 8"
           "9 10"
           "11 12"
    }
}
@media (800px <= width <= 1000px){
    .container{
        margin-top: 10px;
    }  
    #logo{
        width:200px;
        height:100px;
    }
    h3{
        font-size: 25px;
        color: rgb(78, 26, 134);
    }
    #welcome p{
        font-size: 20px;
    }
    .body {  
        grid-area:body;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 550px;
        grid-template-areas:
        "info"
        "games"
    }
    .games {
        margin-left: 30px;
        padding-bottom: 20px;
        background-color: #6C32BF;
        grid-area:games;
        border-radius: 45px 45px;
        margin: 40px;
        padding-right: 30px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 50% 50% 50% 50%;
        grid-template-areas:
           "1 2 3"
           "4 5 6"
           "7 8 9"
           "10 11 12"
    
    }
}
@media (600px <= width <= 800px){
    .container{
        margin-top: 10px;
    }  
    #logo{
        width:200px;
        height:100px;
    }
    h3{
        font-size: 25px;
        color: rgb(78, 26, 134);
    }
    #welcome p{
        font-size: 20px;
    }
    .body {  
        grid-area:body;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 550px;
        grid-template-areas:
        "info"
        "games"
    }
    .games {
        margin-left: 30px;
        padding-bottom: 20px;
        background-color: #6C32BF;
        grid-area:games;
        border-radius: 45px 45px;
        margin: 40px;
        padding-right: 30px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50% 50% 50% 50% 50%;
        grid-template-areas:
           "1 2"
           "3 4"
           "5 6"
           "7 8"
           "9 10"
           "11 12"
    }
}
@media (width <= 600px){
    .container{
        margin-top: 10px;
    }  
    #logo{
        width:200px;
        height:100px;
    }
    h3{
        font-size: 22px;
        color: rgb(78, 26, 134);
    }
    #welcome p{
        font-size: 18px;
    }
    .body {  
        grid-area:body;
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 550px;
        grid-template-areas:
        "info"
        "games"
    }
    .games {
        margin-left: 30px;
        padding-bottom: 20px;
        background-color: #6C32BF;
        grid-area:games;
        border-radius: 45px 45px;
        margin: 40px;
        padding-right: 30px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50% 50% 50% 50% 50%;
        grid-template-areas:
           "1"
           "2"
           "3"
           "4"
           "5"
           "6"
           "7"
           "8"
           "9"
           "10"
           "11"
           "12"
    }
}

#ex1{
    grid-area: 1;
}
#ex2{
    grid-area: 2;
}
#ex3{
    grid-area: 3;
}
#ex4{
    grid-area: 4;
}
#ex5{
    grid-area: 5;
}
#ex6{
    grid-area: 6;
}
#ex7{
    grid-area: 7;
}
#ex8{
    grid-area: 8;
}
#ex9{
    grid-area: 9;
}
#ex10{
    grid-area: 10;
}
#ex11{
    grid-area: 11;
}
#ex12{
    grid-area: 12;
}

.logo{
    text-align: center;
    grid-area:info;
    background-color: white;
    border-radius: 60px 60px;
    margin: 40px;
    padding: 30px;
    border: 20px solid #6C32BF;
}


.game {
    overflow: hidden;
    cursor: pointer;
}
  
.game .text{
    display: inline-block;
    position: relative;
    text-align: center;
    color: black;
    padding: 5px;
    transform: translateY(30%);
    transition: all 0.8s ease;
}
.game .picture{
    display: inline-block;
    position: relative;
    text-align: center;
    transform: translateY(0%);
    transition: all 0.8s ease;
}

.game:hover .picture{
    transform: translateY(-120%);
}

.game:hover .text{
    transform: translateY(-100%);
}
.text__title{
    font-size: 22px;
    color: rgb(78, 26, 134);
}
.text__description{
    font-size: 18px;
}
.trash{
    grid-area: trash;
    height: 10px;
}

.games::-webkit-scrollbar {
    width: 15px;
}
  
.games::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #8338EC;
}
.games::-webkit-scrollbar-button:increment:increment {
    height: 10%;
    display: block;
    background: transparent;
}
  
.games > *{
    margin:0 auto;
    padding-bottom: 20px;
}

.game{
    text-align: center;
    margin-bottom: 20px;
    border-radius: 40px 40px;
    background-color: white;
    height: 180px;
    width: 90%;
    margin: 10%;
    margin-bottom: 20px;
}
.picture{
    height: 150px;
    width: 150px;
    margin-top: 20px;
}

#ex3>.picture, #ex4>.picture, #ex5>.picture{
    margin-top: 10px;
    height: 170px;
    width: 180px;
}
#ex8>.picture, #ex9>.picture{

    height: 150px;
    width: 170px;
}
.background-image {
    position: fixed;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    width: 250%; /* Задаем ширину больше 100% для эффекта */
    height: 250%; /* Задаем высоту больше 100% для эффекта */
    transform: translate(-50%, -50%); /* Центрируем изображение */
    background-image: url(../image/IMG_1966.PNG); /* Замените на URL вашей картинки */
    background-size: cover; /* Заполнение фона */
    background-position: center;
    animation: rotate 200s linear infinite; /* Анимация вращения */
    z-index: -1; /* Помещаем фон под контент */
    opacity: 0.1;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg); /* Центрируем и вращаем */
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg); /* Центрируем и вращаем */
    }
}