@font-face{
    font-family: "regular";
    src: local("regular"), url(fonts/Nunito-Regular.ttf);
}
html{
    font-family: regular;
}
.background-image {
    position: fixed;
    top: 50%; /* Центрируем по вертикали */
    left: 50%; /* Центрируем по горизонтали */
    width: 250%; /* Задаем ширину больше 100% для эффекта */
    height: 250%; /* Задаем высоту больше 100% для эффекта */
    transform: translate(-50%, -50%); /* Центрируем изображение */
    background-image: url(../image/IMG_1966.PNG); /* Замените на URL вашей картинки */
    background-size: cover; /* Заполнение фона */
    background-position: center;
    animation: rotate 2000s linear infinite; /* Анимация вращения */
    z-index: -1; /* Помещаем фон под контент */
    opacity: 0.1;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg); /* Центрируем и вращаем */
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg); /* Центрируем и вращаем */
    }
}